<h1>Ajouter un restaurant</h1>

<%= simple_form_for @restaurant,
  wrapper: :floating_labels_form,
  wrapper_mappings: {
    select:        :floating_labels_select
  } do |f| %>

  <%= f.error_notification %>

  <%= f.input :name %>

  <%= f.input :address %>

  <%= f.input :category, collection: Restaurant::CATEGORIES %>

  <%= f.input :phone_number %>

  <%= f.button :submit, "Ajouter le restaurant", class: "btn-primary" %>
<% end %>
